<!DOCTYPE html>
<html>

<head>
  <title>Sale Deed</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <div class="template-container">
    <h2>Sale Deed Document</h2>
    <p>
      This Sale Deed is made on <strong>
        <%= date %>
      </strong> between
      <strong>
        <%= name %>
      </strong>, S/o <strong>
        <%= father_name %>
      </strong>,
      for a property of <strong>
        <%= property_size %> sq.ft.
      </strong>,
      sold for ₹<strong>
        <%= sale_amount %>
      </strong>.
    </p>
  </div>
</body>

</html>